<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">
    <a routerLink="/"><img src="./assets/images/logo.png" alt="Logo"></a>
    
  </div>

  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
    <a routerLink="/blog" routerLinkActive="active">BLOG</a>
    <a routerLink="/about" routerLinkActive="active">ABOUT</a>
    <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
  </div>

  <div class="nav-right">
    <button class="search-btn">
      <span class="material-icons">search</span>
    </button>
    <button class="profile-btn" (click)="openAuthModal()">
      <span class="material-icons">person</span>
    </button>
    <button class="explore-btn">Explore Now</button>
  </div>
</nav>

<app-auth-modal #authModal></app-auth-modal>
