<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">
    <a href="#"><img src="./assets/images/logo.png" alt="Logo"></a>
    
  </div>

  <div class="nav-links">
    <a href="#">HOME</a>
    <a href="#">BLOG</a>
    <a href="#">ABOUT</a>
    <a href="#">CONTACT</a>
  </div>

  <div class="nav-right">
    <button class="search-btn">
      <span class="material-icons">search</span>
    </button>
    <button class="profile-btn">
      <span class="material-icons">person</span>
    </button>
    <button class="explore-btn">Explore Now</button>
  </div>
</nav>
